{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": "error"
    },
    "plugins": ["vue"],
    "overrides": [
        "plugin:vue/essential",
        "prettier"
    ]
}