{
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": "error"
    },
    "plugins": ["vue"],
    "env": {
        "browser": true,
        "node": true,
        "es2020": true
    }
}
