<div class="search">
    <input type="text" id="search_input" class="search_input" autocomplete="off" placeholder="Start typing to find the action...">
</div>
<div class="page">
    <div class="actions">
        <div class="card">
            <h5 class="card-header small">Featured</h5>
            <div class="card-body">
                <div class="card action" style="width: 8rem;">
                    <img class="card-img-top" src="https://scontent.fmla1-2.fna.fbcdn.net/v/t1.0-9/17992046_283665712077913_3617269335840491740_n.jpg?_nc_ht=scontent.fmla1-2.fna&oh=e6ed2d33c35f1835c4f6fed7d53f41a0&oe=5CBDAC48">
                    <div class="card-body small p-1 action_name">nginx start.bat</div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu" id="menu">
        <i class="menu_collapse fas fa-grip-lines-vertical"></i>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb small">
                <!--                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Library</li>-->
                <li class="breadcrumb-item" aria-current="page">Home</li>
            </ol>
        </nav>
        <ul class="menu_lvl_1 nav flex-column">
            <li class="menu_item nav-item">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="">Application/BAT file</a>
                    <a class="dropdown-item" href="">CLI command</a>
                    <a class="dropdown-item" href="">Web link</a>
                    <!--                        <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>-->
                </div>
            </li>
            <li class="menu_item nav-item">
                <a href="" class="nav-link">...</a>
            </li>
    </div>
</div>
