<div class="page">

    <actions></actions>

    <div class="menu" id="menu">
        <i class="menu_collapse fas fa-grip-lines-vertical"></i>

        <div id="menu_home" class="d-flex flex-column h-100">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb small">
                    <li class="breadcrumb-item" aria-current="page">Menu</li>
                </ol>
            </nav>
            <ul class="menu_lvl_1 nav flex-column flex-grow-1">
                <li class="menu_item nav-item">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add</a>
                    <div class="dropdown-menu" id="menu_add">
                        <a class="dropdown-item" href="" data-show-menu-item="menu_add_app" data-toggle="tooltip" data-placement="left" title="Any type of file. A proper application will run to handle it.">File</a>
                        <a class="dropdown-item" href="" data-show-menu-item="menu_add_cli_comm">CLI command</a>
                        <a class="dropdown-item" href="" data-show-menu-item="menu_add_web_link">Web link</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" data-show-menu-item="menu_add_category">Category</a>
                    </div>
                </li>
                <li class="menu_item nav-item small mt-auto">
                    <a href="" class="nav-link">Preferences</a>
                </li>
                <li class="menu_item nav-item small">
                    <a href="" class="nav-link">Close</a>
                </li>
            </ul>
        </div>

        <div id="menu_add_app">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb small">
                    <li class="breadcrumb-item"><a href="" data-show-menu-item="menu_home">Menu</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add file</li>
                </ol>
            </nav>
            <form>
                <div class="form-group">
                    <div class="col">
                        <label for="menu_add_app_file">Choose a file</label>
                        <input type="file" class="form-control-file" name="path" id="menu_add_app_file" required="required">
                        <small class="form-text text-muted">Choose any type of file. A proper application will run to handle it, if file is not of an executable type.</small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                        <label>Arguments</label>
                        <div class="input-group dynamic_field">
                                <input class="form-control" name="arguments[]" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text btn btn-danger dynamic_field_remove">x</span>
                                    <span class="input-group-text btn btn-primary dynamic_field_add">+</span>
                                </div>
                        </div>
                        <small class="form-text text-muted">Input arguments to be passed to the app. Enter the args. as you would do in the console. For example, <span class="text-nowrap">--testRun</span> or <span class="text-nowrap">-name=John</span>.</small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="menu_add_cli_comm">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb small">
                    <li class="breadcrumb-item"><a href="" data-show-menu-item="menu_home">Menu</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add CLI command</li>
                </ol>
            </nav>
        </div>

        <div id="menu_add_web_link">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb small">
                    <li class="breadcrumb-item"><a href="" data-show-menu-item="menu_home">Menu</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add web link</li>
                </ol>
            </nav>
        </div>

        <div id="menu_add_category">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb small">
                    <li class="breadcrumb-item"><a href="" data-show-menu-item="menu_home">Menu</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add category</li>
                </ol>
            </nav>
        </div>

    </div>

</div>
